<div class="instagram-feed">
  <div class="container-fluid instagram d-flex posts">
    <%= image_tag('instagram/insta1.png') %>
    <%= image_tag('instagram/insta2.png') %>
    <%= image_tag('instagram/insta3.png') %>
    <%= image_tag('instagram/insta4.png') %>
    <%= image_tag('instagram/insta5.png') %>
  </div>
  <div class="container-fluid">
    <a href="https://www.instagram.com/infini.bx" target="_blank" class="button button-primary insta-link">Folge uns auf Instagram</a>
  </div>
</div>
