<%= render 'hero' %>
<%= render 'newsletters/form' %>
<%= render 'steps' %>

<%= render 'instagram' %>

<div class="para1">
</div>

<div class="logos">
  <%= image_tag('eu-sozialfonds.jpg') %>
  <%= image_tag('sen_web_vertikal_rgb_.jpg') %>
  <%= image_tag('soulincubator-logos_2019-schwarz-02.png') %>
  <%= image_tag('200525_esf-berlin_final.jpg') %>
</div>

<%= render 'footer' %>
